<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Profilom</title>
</head>
<body>
    <header>
        <h1>WatchList</h1>
        <div class="buttons">
            <button onclick="window.location.href='/'">Főoldal</button>
            <button onclick="window.location.href='/shows'">Sorozatok</button>
            {% if 'username' in session %}
            	<button onclick="window.location.href='/logout'">Kijelentkezés</button>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="info">
            <h2>Profil adatok:</h2>
            <p><strong>Felhasználónév:</strong>{{ user.username }}</p>
            <p><strong>Email:</strong>{{ user.email }}</p>
        </div>
        <div class="stats">
            <h2>Statisztikák</h2>
            <ul>
                <li><strong>Megnézett sorozatok száma:</strong> {{ stats.shows }}</li>
                <li><strong>Megnézett epizódok száma:</strong> {{ stats.episodes }}</li>
                <li><strong>Sorozatnézéssel töltött idő:</strong> {{ stats.time }} óra</li>
            </ul>
        </div>
        <div class="watched">
            <h2>Megnézett részek:</h2>
            <div class="grid">
                {% for episode in episodes %}
                    <div class="item" onclick="window.location.href='/show/{{ episode._embedded.show.id }}'">
                        <img src="{{ episode.image.medium }}" alt="{{ episode.name }}">
                        <h3>{{ episode.name }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>