<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>WatchList</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>WatchList</h1>
        <div class="buttons">
            {% if 'username' in session %}
                <button onclick="window.location.href='/profile'">Profilom</button>
                <button onclick="window.location.href='/logout'">Kijelentkezés</button>
            {% endif %}
        </div>
    </header>

    {% if 'username' not in session %}
        <div class="login">
            <h2>Bejelentkezés</h2>
            <form method="post" action="/login">
                <label for="username">Felhasználónév</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Jelszó</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" name="login" value="Bejelentkezés">

                {% with messages = get_flashed_messages()%}
                    {% if messages%}
                        <p>{{messages[0]}}</p>
                    {%endif%}
                {%endwith%}

                <a href="/reg">Még nincs fiókod? Regisztációhoz nyomj ide!</a>
            </form>
        </div>
    {% endif %}

    <main class="content">
        <h2>Legnépszerűbb sorozatok</h2>
        <div class="grid">
            {% for show in shows %}
                <div class="item" onclick="window.location.href='/show/{{ show.id }}'">
                    <img src="{{ show.image.medium }}" alt="{{ show.name }}">
                    <h3>{{ show.name }}</h3>
                </div>
            {% endfor %}
        </div>
        <button class="category-button" onclick="window.location.href='/shows'">See All TV Shows</button>
    </main>

    <footer>
        <div class="container">
            <p>Made with ❤️ for TV and movie enthusiasts.</p>
        </div>
    </footer>
</body>
</html>
