<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>{{ show.name }} – Részletek</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>WatchList</h1>
        <div class="buttons">
            <button onclick="window.location.href='/'">Főoldal</button>
            <button onclick="window.location.href='/shows'">Sorozatok</button>
            {% if 'username' in session %}
                <button onclick="window.location.href='/profile'">Profilom</button>
            	<button onclick="window.location.href='/logout'">Kijelentkezés</button>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="details">
            <img src="{{ show.image.original }}" alt="{{ show.name }}" class="poster">

            <h1>{{ show.name }}</h1>

            {% if show.genres %}
                <div class="genres">
                    {% for genre in show.genres %}
                        <span class="genre">{{ genre }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <p><strong>Premier:</strong> {{ show.premiered or "Ismeretlen" }}</p>
            <p><strong>Értékelés:</strong> {{ show.rating.average or "Nincs értékelés" }}/10</p>

            <div>
                {{ show.summary | safe }}
            </div>
        </div>

        <div class="seasons">
            <label for="seasons">Válassz évadot:</label>
            <select id="seasons">
                <option value="">-- Válassz egy évadot --</option>
                {% for season in seasons %}
                    <option value="{{ season }}">{{ season }}.évad</option>
                {% endfor %}
            </select>
        </div>
        <div class="grid">

        </div>
    </main>

    <script>
        document.getElementById('seasons').addEventListener('change', function() {
            const season = this.value;
            const episodesDiv = document.getElementsByClassName('grid')[0];
            const seasons = {{ seasons | tojson }}
            const watched = {{ watched | tojson }}

            if (season) {
                episodesDiv.innerHTML = ""
                for (const episode of seasons[season]) {
                    const episodeDiv = document.createElement('div');
                    episodeDiv.classList.add('item');
                    if(watched.includes(episode.id)) {
                        episodeDiv.classList.add('watched_item')
                    }

                    episodeDiv.innerHTML = `
                        <img src="${episode.image.medium}" alt="${episode.name}" class="ep_poster">
                        <p class="watched_before">Már láttam</p>
                        <button class="mark_watched" onclick="window.location.href='/add_watched/${episode.id}'">Láttam</button>
                        <p class="ep_num">${episode.season}. évad, ${episode.number}. rész</p>
                        <h3>${episode.name}</h3>
                    `;

                    episodesDiv.appendChild(episodeDiv);
                }
            }

        });
    </script>

</body>
</html>
